
.title-large {
  font-size: 3em; 
}


.text-center {
  text-align: center;
}


#quarto-sidebar {
  background-color: #EBEBEB; 
}


#quarto-sidebar li {
  padding-top: 12px ;    
  padding-bottom: 12px ; 
}




h1.title {
  margin-bottom: 20px !important; 
}

